<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Emotion Game</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
      <script type="text/javascript">
         $(document).ready(function() {
         
           // sending a connect request to the server.
            // var socket = io.connect('http://192.168.0.14:5000');
            var socket = io.connect("http://192.168.100.2:5000");            
          socket.on( 'my response', function() {
        //socket.emit('first event')
      } );


 $('input.sync').on('click', function(event) {
                socket.emit('next button', {who: $(this).attr('id')});
                // return false;
                    // document.getElementById('img00').src = "../static/images/emotions/ask.jpg"
                    // document.getElementById('img00').style.border = "none"
                    // document.getElementById('img01').src = "../static/images/emotions/ask.jpg"
                    // document.getElementById('img01').style.border = "none"
            });


socket.on('highlight' , function()
            {   
                document.getElementById('img00').style.border =  "5px solid green"
                document.getElementById('img01').style.border = "none"
                //document.getElementById("btn").style.border = "9px solid yellow";
               
            });  
socket.on('cancle highlight' , function()
            {   

                document.getElementById('img00').style.border = "none"
                document.getElementById('img01').style.border = "none"
                //document.getElementById("btn").style.border = "none";
               
            }); 



 socket.on('update image' , function(msg)
            {
               
                    // console.log(msg.path[i])
                    document.getElementById('img00').src = msg.path[0]
                    document.getElementById('img00').style.border = "none"
                    document.getElementById('img01').src = msg.path[1]
                    document.getElementById('img01').style.border = "none"
            
            });
            



              var a = 0 ;     

   $('img').click(function(event){
     socket.emit('selected', {
     who: $(this).attr('id')
     
              });
                return false;
            });




 socket.on('redirect' , function(data)
            {
                console.log(data)
    window.location = data.url;
                
            });


     window.onbeforeunload = function () {
        socket.emit('client_disconnecting', {'data': "emotion_game1"});
    }

            

         });

      </script>
   </head>
  

   <body>
    
 <style>
body{
 background-image: url("{{ url_for('static', filename='images/back.jpg') }}");

  background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
  width: 1000px;
 height: 800px;
    
}




img {

border : none;
}




input {
  font-size:40px;
  width :200px;
  height : 70px;
  
}
</style>



<form method="post" action="/">


<p style = "position:absolute; font-weight:bold;left:80px; top:8px; color:rgb(243, 240, 240); font-size:30px"  > {{value}} </p>

<img  src= "../static/images/emotions/QT_img.png" id="QT_img" class="sync" style = "position:absolute; right:20px; top:10px; width:80px;border-color : 5px solid gray;">  

</form>

<img  src= "../static/images/emotions/ask.jpg" id="img00" class="sync"  width="300" height="300" style = "position:absolute; left:300px; top:120px;">
<img  src= "../static/images/emotions/ask.jpg" id="img01" class="sync"  width="300" height="300" style = "position:absolute; left:650px; top:120px;">



<input id="btn" class="sync" type="button" value="Next" style = "font-size:20px; background: rgba(250,231,200, 0.6); color:rgb(0,0,0); position:absolute; right:435px; top:30px; width:200px; height:50px"  required />


</body>
</html>

