<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Login</title>
  </head>
  <body>
    <style>
body{
 background-image: url("{{ url_for('static', filename='images/back.jpg') }}");

  background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 width: 100%;

}

input {

    font-size:25px;
    height:60px;
    width:20%;
}​


</style>

    <div class="message_holder"></div>

    <form action="" method="POST">
      <input type="text" class="username" placeholder="Name" style = "position:absolute;left:40%; top:300px;"/>
      <input type="text" class="age" placeholder="Age" style = "position:absolute; left:40%; top:400px;"/>
      <input type="text" class="date" placeholder="Session" style = "position:absolute; left:40%; top:500px;"/>
<input id="btn" class="sync" type="button" value="Start" style = "position:absolute; left:40%; top:600px;"  required />

    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    


    <script type="text/javascript">
    $(document).ready(function() {
    var socket = io.connect('http://192.168.100.2:5000');
    //var socket = io.connect('http://127.0.0.1:5000');
         
          socket.on( 'my response', function() {
          socket.emit('first event')
      } );

 
  $('input.sync').on('click', function(event) {
                socket.emit('login', {name : $('input.username').val() , session_no : $('input.date').val() , age: $('input.age').val()}
            
            )});

  
 socket.on('redirect' , function(data)
            {
                console.log(data)
    window.location = data.url;
                
            });


     window.onbeforeunload = function () {
        socket.emit('client_disconnecting', {'data': "login"});
    }
   });


    </script>

  </body>
  </html>
