<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 제이쿼리, 제이쿼리ui-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <!--   <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>-->
    <!-- touch punch는 jquery ui 아래에 위치해야함 -->
    <title>JavaScript - Drag and Drop Demo</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<script>

    var socket = io.connect('http://192.168.100.2:5000');
    var arr = new Array();
    console.log("first socket:", socket);
    socket.emit('connect event', {data: 'User Connected'});

    socket.on('number' , function(data)
            {

              console.log("data: ",data)
              arr = data
              console.log("arr: ", arr)
         if (arr[0]==true && arr[1] ==false && arr[2] ==false){

            document.getElementById("supermarket").className = "clicked_building";

            }
     else if(arr[0]==true && arr[1] ==true && arr[2] ==false){
            document.getElementById("supermarket").className = "clicked_building";
            document.getElementById("hospital").className = "clicked_building";
     }
    else if(arr[0]==true && arr[1] ==true && arr[2] ==true){
            document.getElementById("supermarket").className = "clicked_building";
            document.getElementById("hospital").className = "clicked_building";
            document.getElementById("park").className = "clicked_building";
    }

            });

     $(document).ready(function() {
        socket.emit('category_talk');
        setTimeout(enabling, 7000);

     });

var enabling = function(){

         document.getElementById("btn1").disabled = false;
         document.getElementById("btn2").disabled = false;
         document.getElementById("btn3").disabled = false;
}

var disabling = function(){

         document.getElementById("btn1").disabled = true;
         document.getElementById("btn2").disabled = true;
         document.getElementById("btn3").disabled = true;
         setTimeout(enabling, 2000);
}

    function supermarket() {
        if (arr[0]==false && arr[1] ==false && arr[2] ==false){
            socket.emit('init_after_category', "Let's go to play!")
            location.href = '/first_page';

            }
        else{
        disabling();
        socket.emit('block_page', "Please choose another building!") //emit the information of dragged item
        }
    }
    function hospital() {
        if (arr[0]==true && arr[1] ==false && arr[2] ==false){
            socket.emit('init_after_category', "Let's go to play!")
            location.href = '/hospital_first';
            }
        else{
        disabling();
        socket.emit('block_page', "Please choose another building!") //emit the information of dragged item
        }
     }
     function park() {
        if (arr[0]==true && arr[1] ==true && arr[2] ==false){
            socket.emit('init_after_category', "Let's go to play!")
            location.href = '/park_first';
            }
        else{
        disabling();
        socket.emit('block_page',"Please choose another building!") //emit the information of dragged item
        }
    }


</script>
<style>
    body{
 background-image: url("{{ url_for('static', filename='images/back.jpg') }}");

  background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
 width: 100%;

}
</style>
<body>
<div class="container">
    <div class="object">
        <div id ="supermarket" class="building">
            <button id ="btn1" disabled = "disabled"  onclick="supermarket()">
                <img src="../static/supermarket.png">
            </button>
        </div>

        <div  id = "hospital"  class="building">
            <button id ="btn2" disabled = "disabled" onclick="hospital()">
                <img src="../static/hospital-building.png">
            </button>
        </div>
        <div id = "park" class="building">
            <button id ="btn3" disabled = "disabled" onclick="park()">
                <img  src="../static/park.png">
            </button>
        </div>

    </div>

</div>


</body>
</html>
